{
  "presets": [
    ["env", {
    targets: {
    	node: true
    }
    }]
  ],
  "plugins": [
    "syntax-class-properties",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
